body {
  margin: 0;
}
/* --------------- */

.container {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.topbar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
.image {
  width: 18%;
  height: 10%;
  padding-left: 70px;
  justify-content: center;
}
.logo {
  width: 100%;
}
.navbar{
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: white;
  padding: 7px;
  position: sticky;
  top: 0px;
  left: 0px;

 
}
.iconbars{
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: white;
  padding: 7px;
  position: sticky;
  top: 0px;
  left: 0px;
}
.iconbar{
  display:none;
}
/* .element{
    position:relative;
    display: inline-block;
} */
.element a {
  text-decoration: none;
  color: rgb(1, 1, 36);
  padding: 15px;
}
.sol{
    display:none;
    position: absolute;
    background-color: white;
    /* z-index: 1; */
    min-width: 160px;
    margin-top: 10px;

}
.sol li{
    color: #23313e;
    padding: 12px 16px;
    text-decoration: none;
    list-style: none;
    
    
}
.solution:hover .sol{
    display: block;
   
}
.sol li:hover{
    color: #a82700;
    background-color:  #f9f9f9;
}
.apps{
    display:none;
    position: absolute;
    background-color: white;
    z-index: 1;
    min-width: 160px;
    margin-top: 10px;
 
   
}
.apps li{
    color: #23313e;
    padding: 12px 10px;
    text-decoration: none;
    list-style: none;
}
.app:hover .apps{
    display: block;
}
.apps li:hover{
    color: #a82700;
    background-color:  #f9f9f9;
}
.cust{
    display:none;
    position: absolute;
    background-color: white;
    z-index: 1;
    min-width: 160px;
    margin-top: 10px;
}
.cust li{
    color: #23313e;
    padding: 12px 16px;
    text-decoration: none;
    list-style: none;

}
.customers:hover .cust{
    display: block;
}
.cust li:hover{
    color: #a82700;
    background-color:  #f9f9f9;
}
.reso{
    display:none;
    position: absolute;
    background-color: white;
    z-index: 1;
    min-width: 160px;
    margin-top: 10px;
}
.reso li{
    color: #23313e;
    padding: 12px 16px;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
}
.resourez:hover .reso{
    display:block;
}
.reso li:hover{
    color: #a82700;
    background-color:  #f9f9f9;
}

.element {
  padding-right: 50px;
  display: flex;
  align-items: center;
  font-family: "Montserrat";
}
.we button  {
  border-radius: 20px;
  background-color: #a82700;
  color: white;
  margin-left: 40px;
  border: 0px;
  padding: 12px;
}
.navbar button{
  border-radius: 20px;
  background-color: #a82700;
  color: white;
  margin-left: 40px;
  border: 0px;
  padding: 12px;
}
.req{
  width: 30%;
}

.para {
  background-color: #23313e;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-family: "Montserrat";
  margin: 0;
  padding: 2px 5px; 
  /* position: relative;
  top: 100px;
  z-index: 1; */
}
span {
  text-decoration: underline;
  text-transform: uppercase;
  margin-left: 40px;

}
.tophr{
    width: 15%;
    margin-left: 50px;
    color: #a0bad6;
    
}
.we {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.pic {
  width: 45%;
  height: 60%;
}
.pic img {
  width: 90%;
}

.text {
  width: 50%;
  padding: 10px;
}
.we hr{
  border: 1px solid #a0bad6;
  border-radius: 2px;
  width: 60%;
  margin: 0;
}
.we h2 {
  font-size: 21px;
  padding: 40px;
  color: rgb(131, 123, 123);
  padding-top: 8%;
  font-family: "Montserrat";
  color: #23313e;
  font-weight: lighter;
}
.we h1 {
  padding-left: 40px;
  padding-top: 10%;
  font-family: "Montserrat";
  color: #23313e;
  font-size: 35px;
  font-weight: bolder;
}
.element a:hover {
  color: #a82700;
}
@media screen and (max-width:1024px){
  .iconbars{
    width: 100%;
    display: flex;
    

  }
  
  .iconbars .image{
    width:60%;
    display:flex;
    justify-content: flex-start;
    padding-left: 0;
  }
  .logo{
    width: 50%;
  }
  .icn{
    width: 100%;
  }
  .iconbar{
    display:flex;
    justify-content: center;
    align-items: center;
   

  }
  .iconbar{
    width: 10%
  }
  .element{
   
    position: absolute;
    display: flex;
    flex-direction: column;
    line-height: 40px;
    background-color: white;
    z-index: 1;
    min-width: 160px;
    margin-top: 20px;
    display: none;
  }
  .iconbars:hover .element{
    display:block;
  } 
  .para{
    display: none;
  }
  .we{
    display: flex;
    flex-direction: column;
    width:100%;
  }
  .we .text{
    width:100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
  }
  .text h2{
    padding-top:5px;
  }
  .text h1{
    padding-top: 5px;
  }
  .we hr{
    align-self: center;
  }
  .pic{
    width: 90%;
    display: flex;
    justify-content: center;
  }
  .pic img {
    width: 90%;
    align-self: center;
  }
  
}
/* --------------------------------- */

.container1 {
  background-color: #f2f2f2;
  max-width: 1440px;
  width: 100%;
  height: 98vh;
  font-family: "Montserrat", sans-serif;
  flex-wrap: wrap;
  display: flex;
}

.head {
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  width: 70%;
  padding: 10px;
}
.head h2 {
  font-family: "montserrat";
  color: #23313e;
}
.head p {
  font-family: "montserrat";
  color: #23313e;
  line-height: 25px;
}

.block h3 {
  font-family: "Montserrat";
  color: #23313e;
  font-size: 23px;
  margin: 10%;
}

.c1 hr {
  border: 1px solid #a0bad6;
  border-radius: 2px;
  width: 6%;
}

.block {
  display: flex;
  gap: 5%;
  margin: 0 5% 5% 5%;
  height: 45%;
  padding-top: 4%;

  /* justify-content: space-between; */
}

.block1 {
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.block2 {
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.block3 {
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.block4 {
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.block p {
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 21px;
  margin: 5%;
  font-family: "Montserrat";
  font-size: 90%;
  color: #23313e;
}

.block button {
  background-color: #a82700;
  color: #ffffff;
  width: 70%;
  height: 12%;
  border-radius: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  justify-content: space-around;
  margin: 0;
  border: 0;
}

.block h3 {
  padding-bottom: 10px;
  margin: 0;
}

.btn #icon_arrow {
  display: none;
}

.btn:hover #icon_arrow{
  display: block;
  cursor :pointer;
  transition: 2ms;
}
@media screen and (max-width: 750px) {
  .block{
    flex-wrap: wrap;

    width: 100%;
  }
  .block1{
    width: 45%;
  }
  .block2{
    width: 45%;
  }
  .block3{
    width: 45%;
  }
  .block4{
    width: 45%;
  }
}
/* ------------------------------- */
.parent {
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.tp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.tp h2 {
  text-align: center;
  font-size: 30px;
  font-family: "Montserrat";
  color: #23313e;
  
}
.hr1 hr{
  border: 1px solid #a0bad6;
  border-radius: 2px;
  width: 60%;
 
}
.rw1 {
  width: 90%;
  display: flex;
  height: 100%;
  padding: 5%;
}
.rw1-1 {
  width: 50%;
  padding: 0px 45px;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
.rw1-img {
  width: 60%;
}
.rw1-2 {
  width: 50%;
  padding: 0px 45px;
  height: 100%;
}
.rw1-2-inr {
  padding: 24.9px;
}
.rw2 {
  width: 90%;
  display: flex;
  height: 100%;
  padding: 5%;
}
.rw2-1 {
  width: 50%;
  display: flex;
  justify-content: flex-end;

}
.rw2-img {
  width: 60%;
}
.rw2-2 {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}
.rw2-1-inr {
  padding: 24.9px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin: 0;
}
.rw3 {
  width: 90%;
  display: flex;
  height: 100%;
  padding: 5%;
}
.rw3-1 {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.rw3-img {
  width: 60%;
}
.rw3-2 {
  width: 50%;
}
.rw3-2-inr {
  padding: 24.9px;
}
.rw4 {
  width: 90%;
  display: flex;
  height: 100%;
  padding: 5%;
}
.rw4-1 {
  width: 50%;
  
}
.rw4-img {
  width: 60%;
}
.rw4-2 {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}
.rw4-1-inr {
  padding: 24.9px;
}
.wrapper a {
  color: #a82700;
  font-family: "Montserrat";
  font-size: 18px;
  padding: 0px 36px 0px 0px;
  font-weight: bolder;
  text-decoration: none;
}
.wrapper h3 {
  color: #23313e;
  font-family: "Montserrat";
  font-size: 23px;
  font-weight: bolder;
}
.wrapper hr {
  color: #a0bad6;
  width: 5%;
}
.wrapper p {
  font-family: "Montserrat";
  font-size: 16px;
  color: #23313e;
  margin: 0;
}
@media only screen and (max-width: 1024px){
  .wrapper{
    width:100%;
    display:flex;
    flex-direction:column;
  }
  .tp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .eui {
    text-align: center;
    font-size: 21px;
    font-family: "Montserrat";
    color: #23313e;
    margin: 0;
    
  }
  .hr1 hr{
    border: 1px solid #a0bad6;
    border-radius: 2px;
    width: 15%;
   
  }
  .rw1{
    display: flex;
    flex-direction: column;
    justify-content: center;


  }
  .rw1-1 {
    width: 100%;
    padding: 0px 45px;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  .rw1-img {
    width: 70%;
  }
  .rw1-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0px 45px;
    text-align: center;
    height: 100%;
  }
  .rw1-2-inr {
    padding: 24.9px;
  }
  .rw2 {
    display: flex;
    flex-direction: column;
    justify-content: center;

  }
  .rw2-1 {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0px 45px;
    text-align: center;
    height: 100%;
  }
  .rw2-img {
    width: 70%;
  }
  .rw2-2 {
    width: 100%;
    padding: 0px 45px;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  .rw2-1-inr {
    padding: 24.9px;
  }
  .rw3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .rw3-1 {
    width: 100%;
    padding: 0px 45px;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  .rw3-img {
    width: 70%;
  }
  .rw3-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0px 45px;
    text-align: center;
    height: 100%;
  }
  .rw3-2-inr {
    padding: 24.9px;
  }
  .rw4 {
    display: flex;
    flex-direction: column;
    justify-content: center;

  }
  .rw4-1 {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0px 45px;
    text-align: center;
    height: 100%;
  }
  .rw4-img {
    width: 60%;
  }
  .rw4-2 {
    width: 100%;
    padding: 0px 45px;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  .rw4-1-inr {
    padding: 24.9px;
  }
  
}
/* ------footer----- */
.signin{
  width: 100%;
  height: 500px;
  background-color: #23313E;
  color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  
  


}

.signin>div{
  margin : 100px auto;
}

.txt h3{
  font-size: 40px;


}

.txt{
  position: relative;
  left: 7%;
  top: 22%;
  font-family: "Montserrat";

}


.sign{
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 73%;
  gap: 8%;
  /* justify-content:space-evenly; */
  border-radius: 10px; 

}

.sign input[type=text]{
  background-color: #f2f2f2;
  width: 70%;
  align-self: center;
  border-radius: 10px;
  border: 0;
  height: 7%;
 

}
.sign input[type=email]{
  background-color: #f2f2f2;
  width: 70%;
  align-self: center;
  border-radius: 10px;
  border: 0;
  height: 7%;
 

}

.sign .bn{
  background-color: #a82700;
  color: #f2f2f2;
  height: 10%;
  width: 65%;
  align-self: center;
  border-radius: 15px;
  border: 0;

}
/* -----me----- */
.ct-frm{
  width: 100%;
  height: 100%;
 
}
.footer{
  background-color: #23313e;
  width: 100%;
  
  display: flex;
  flex-direction: column;
 
}
.ft-content{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.footer .cot{
  width: 30%;
  height: 100%;
  padding: 20px;
  
}
.cot button{
  
  border-radius: 20px;
  background-color: #a82700;
  color: white;
  border: 0px;
  margin-left: 20px;
  padding: 12px;
}

.cot-bt{
  display: flex;

}
.cot-img{
  width: 50%;
}
.cot2{
  margin-left: 20px;
  color: white;
  line-height: 25px;
}
.connectors{
  color: white;
  list-style: none;
  line-height: 30px;
  font-family: "Montserrat";
}
.epicor{
  color: white;
  list-style: none;
  line-height: 30px;
  font-family: "Montserrat";
  margin-left: 30px;
}
.company{
  color: white;
  list-style: none;
  line-height: 30px;
  font-family: "Montserrat";
  margin-left: 30px;
}
.ft-c hr{
  width: 95%;
  color: none;
}
.ft-end{
  color: white;
  font-family: "Montserrat";
  margin-left: 20px;
  font-weight: lighter;
}

